# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Results (اختياري - إذا ما بدك ترفع الصور)
# results/

# Data (اختياري - إذا الملف كبير)
# *.csv